[Unit]
Description=the house model railroad traffic control service
After=network-online.target houseportal.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=50s
Environment="HTTPOPTS=" "HOUSEOPTS=" "OTHEROPTS=" "OPTS="
EnvironmentFile=-/etc/default/housegeneric
EnvironmentFile=-/etc/default/houserail
EnvironmentFile=-/etc/sysconfig/housegeneric
EnvironmentFile=-/etc/sysconfig/houserail
ExecStart=/usr/local/bin/houserail $HTTPOPTS $HOUSEOPTS $OTHEROPTS $OPTS

[Install]
WantedBy=multi-user.target

